<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sidefund{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/fonts.css') }}"></link>
            <link rel="stylesheet" href="{{ asset('css/base.css') }}"></link>
            <link rel="stylesheet" href="{{ asset('/css/projects.css') }}"></link>
            <link rel="stylesheet" href="{{ asset('/css/projects-new.css') }}"></link>
            <link rel="stylesheet" href="{{ asset('/css/login.css') }}"></link>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header class="app__header-wrapper">
            <div class="app__header">
                <span class="app__logo"></span>

                <span class="app__header-placeholder"></span>

                {% if app.user %}
                    <a class="app__logout" href="{{ path('logout') }}">Logout</a>
                {% endif %}
            </div>
        </header>

        <main class="app__body">
            {% block body %}{% endblock %}
        </main>

        {% block javascripts %}
            <script src="{{ asset('js/projects.js') }}"></script>
        {% endblock %}
    </body>
</html>
