{% block modal %}
    <div class="projects-new__modal">
        <header class="projects-new__header">
            <div class="projects-new__title">New Campaign</div>
            <div class="projects-new__header-placeholder"></div>
            <div class="projects-new__close-wrapper">
                <span class="projects-new__close"></span>
            </div>
        </header>

        <div class="projects-new__form-wrapper">
            {{ form_start(form) }}
                {{ form_label(form.name) }}
                {{ form_widget(form.name, { 'attr': { 'class': 'projects-new__name', 'placeholder': 'Campaign Name' } }) }}

                {{ form_label(form.description) }}
                {{ form_widget(form.description, { 'attr': { 'class': 'projects-new__description', 'placeholder': 'Campaign Description' } }) }}

                <div class="projects-new__details">
                    <div>
                        {{ form_label(form.cost) }}
                        {{ form_widget(form.cost, { 'attr': { 'class': 'projects-new__cost', 'placeholder': 'Total Cost' } }) }}
                    </div>

                    <div>
                        {{ form_label(form.minParticipants) }}
                        {{ form_widget(form.minParticipants, { 'attr': { 'class': 'projects-new__min-participants',  'placeholder': 'Min. Participants' } }) }}
                    </div>

                    <div>
                        {{ form_label(form.expirationDate) }}
                        {{ form_widget(form.expirationDate, { 'attr': { 'class': 'projects-new__expiration',  'placeholder': 'Expiration Date' } }) }}
                    </div>
                </div>

                <fieldset class="projects-new__controls">
                    {{ form_label(form.imageLink) }}
                    {{ form_widget(form.imageLink, { 'attr': { 'placeholder': 'Image Link' } }) }}

                    <input class="projects-new__submit type="submit" value="SUBMIT" />
                </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
